<div class="center hero-unit">
	<h1>Your Country. Your People. Your Choice.</h1>

<h2>Our mission is to empower everyone to make an informed decision. We provides facts, opninons about 
	politcian, parties, work they did in past, its impact.</h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>