<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "netaWiki", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-center">
              <li><%= link_to "Leaders", leaders_path %></li>
              <li><%= link_to "Parties", parties_path %></li>
              <li><%= link_to "Places", places_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>